# dependencies
node_modules/

# expo
.expo/
.expo-shared/

# build / export
coverage/
dist/
web-build/

# caches
**/.cache/

# IDE / editor
.vscode/
.idea/

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

app-example/